{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <hr>
    <h1>Home Page</h1>
    <hr>

    {% if messages %}
    <div>
      <strong>Messages:</strong>
      <ul>
	{% for message in messages %}
	<li>{{message}}</li>
	{% endfor %}
      </ul>
    </div>
    {% endif %}

    {% if request.user.is_authenticated %}
        <h3>Welcome @<strong style="color: orangered">{{ user.username }}</strong>!</h3>
        <hr>
        <br>

        <a href="{% url 'prescription:filtered-prescriptions' id=request.user.id %}">
            <button type="button" class="btn btn-success">Go To Your Dashboard</button>
        </a>

    {% else %}
        <h1 style="color: red">You are not logged in!</h1>
    {% endif %}

{% endblock content %}









